<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="center flex">
    <h1 class="w-full">Cart page</h1>
    <a href="/order" class="btn btn-black flex align-center mr-20">Order</a>
    <a href="/cart" class="btn btn-black flex align-center mr-20">Cart</a>
    <form th:action="@{/logout}" method="post" class="justify-end flex mr-20">
        <button type="submit" class="btn btn-black">Logout</button>
    </form>
</div>
<div class="flex w-full">
    <div class="">
        <a href="/catalog" class="btn btn-black p-10-20">All</a>
    </div>
    <div th:each="catalog : ${catalogs}" class="">
        <a th:href="@{/catalog/{id}(id=${catalog.id})}" class="btn btn-black p-10-20" th:text="${catalog.name}"></a>
    </div>
</div>
<div class="flex w-full mt-20 justify-between">
    <div class="ml-50" th:text="'Your shopping cart ('+ ${count}+' items --- ' +${#numbers.formatCurrency(totalPrice).replace('.',',')} +'): '"></div>
    <form th:action="@{/cart/checkout}" method="post" class="mr-20">
        <button type="submit" class="btn btn-add">Checkout</button>
    </form>
</div>
<div class="ml-50">
    <div class="flex flex-wrap center">
        <div th:each="cart : ${carts}" class="m-20-10">
            <img th:src="${products[cart.product_id - 1].getPicture()}" alt="Image" width="200"/>
            <div th:text="${products[cart.product_id - 1].getName()}"></div>
            <div th:text="'Total price: ' + ${#numbers.formatCurrency(products[cart.product_id - 1].getPrice() * cart.quantity).replace('.',',')}" class="my-10"></div>
            <div th:text="'Quantity: ' + ${cart.quantity}"></div>
            <form th:action="@{/cart/remove/{id}(id=${cart.product_id})}" method="post" class="my-10">
                <button type="submit" class="btn btn-delete">Remove</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>